.wps-intro {
    margin-bottom:30px;
}

.wps-ui-textarea,
.wps-ui-checkbox,
.wps-ui-radio {
    display:block;
    margin:30px 0;
}

.wps-ui-textarea > span,
.wps-ui-radio > span {
    display:block;
    margin-bottom: 10px;
    font-weight:bold;
}

.wps-ui-textarea textarea {
    min-width:420px;
    resize:none;
}

.wps-ui-textarea .required {
    color:red;
}

.wps-ui-checkbox span {
    font-weight:bold;
}

.wps-ui-checkbox .wps-short-note {
    display:block;
    margin-top:2px;
    color:gray;
    font-size:0.7rem;
    font-weight:normal;
}

#wps-tools-form .wps-button {
    padding:3px 15px;
}

#wps-tools-form .wps-font-weight-normal { 
    font-weight:normal;
}

#wps-tools-form .wps-inline-block {
    display:inline-block;
    margin-right:20px;
}
